.Home {
    text-align: left;

    & > .header {
        margin-left: 80px;
        margin-right: auto;
        padding-left: 20px;
        border-radius: 3px;
        background-color: #f9f9f9;
        color: #333;
        padding: 10px;
        height: 23px;
    }

    & .replay-list {
        & .replay {
            padding: 12px;

            & .filename {
                text-overflow: ellipsis;
                direction: rtl;
                text-align: left;
                overflow: hidden;
                white-space: nowrap;
                margin-right: 24px;
                margin-bottom: 8px;
            }

            & .properties {
                display: grid;
                grid-template-columns: auto 1fr;
                row-gap: 8px;

                & .property-name {
                    font-weight: bold;
                    display: inline-block;
                    margin-right: 15px;
                }
                & .property-value {
                    display: inline-block;
                }
            }
        }
    }
}
